@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@font-face {
  font-family: 'CircularStd-Book';
  src: url("../../fonts/CircularStd-Book.eot");
  src: url("../../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/CircularStd-Book.woff") format("woff"), url("../../fonts/CircularStd-Book.ttf") format("truetype"); }
@font-face {
  font-family: 'CircularStd-Black';
  src: url("../../fonts/CircularStd-Black.eot");
  src: url("../../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/CircularStd-Black.woff") format("woff"), url("../../fonts/CircularStd-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'ggcfStd-Book';
  src: url("../../fonts/ggcfStd-Book.eot");
  src: url("../../fonts/ggcfStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/ggcfStd-Book.woff") format("woff"), url("../../fonts/ggcfStd-Book.ttf") format("truetype"); }
@font-face {
  font-family: 'ggcfStd-Black';
  src: url("../../fonts/ggcfStd-Black.eot");
  src: url("../../fonts/ggcfStd-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/ggcfStd-Black.woff") format("woff"), url("../../fonts/ggcfStd-Black.ttf") format("truetype"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  vertical-align: baseline;
  color: #093c71; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

tr, th, td {
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font: 100%;
  color: #000; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  selector-dummy: expression(this.hideFocus=true);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

caption, legend {
  display: none; }

input, select {
  font: 100%;
  outline: none;
  -webkit-border-radius: 0; }

input {
  -webkit-border-radius: 0; }

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer; }

input[type="submit"] {
  cursor: pointer; }

strong {
  font-weight: bold; }

/*# sourceMappingURL=reset.css.map */
