@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@font-face {
  font-family: 'CircularStd-Book';
  src: url("../../fonts/CircularStd-Book.eot");
  src: url("../../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/CircularStd-Book.woff") format("woff"), url("../../fonts/CircularStd-Book.ttf") format("truetype"); }
@font-face {
  font-family: 'CircularStd-Black';
  src: url("../../fonts/CircularStd-Black.eot");
  src: url("../../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/CircularStd-Black.woff") format("woff"), url("../../fonts/CircularStd-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'ggcfStd-Book';
  src: url("../../fonts/ggcfStd-Book.eot");
  src: url("../../fonts/ggcfStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/ggcfStd-Book.woff") format("woff"), url("../../fonts/ggcfStd-Book.ttf") format("truetype"); }
@font-face {
  font-family: 'ggcfStd-Black';
  src: url("../../fonts/ggcfStd-Black.eot");
  src: url("../../fonts/ggcfStd-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/ggcfStd-Black.woff") format("woff"), url("../../fonts/ggcfStd-Black.ttf") format("truetype"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  vertical-align: baseline;
  color: #093c71; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

tr, th, td {
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font: 100%;
  color: #000; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  selector-dummy: expression(this.hideFocus=true);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

caption, legend {
  display: none; }

input, select {
  font: 100%;
  outline: none;
  -webkit-border-radius: 0; }

input {
  -webkit-border-radius: 0; }

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer; }

input[type="submit"] {
  cursor: pointer; }

strong {
  font-weight: bold; }

h2 {
  border-bottom: 1px solid #093c71;
  font-family: 'ggcfStd-Black';
  font-size: 40px;
  color: #093c71;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 60px; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: #e1e1e1; }

/*header*/
/*contents*/
#contents_wrap {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto; }
  #contents_wrap .intro {
    width: 100%;
    height: 60%;
    background: #093c71;
    position: relative;
    display: none; }
    #contents_wrap .intro .text_wrap {
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -80px;
      padding-left: 30px; }
      #contents_wrap .intro .text_wrap > p {
        display: inline-block;
        font-family: 'ggcfStd-Black';
        font-weight: 700;
        letter-spacing: 0.13em;
        font-size: 70px;
        color: #e1e1e1;
        line-height: 55px; }
        #contents_wrap .intro .text_wrap > p > span {
          font-family: 'ggcfStd-Black';
          font-weight: 700;
          letter-spacing: 0.13em;
          font-size: 70px; }
          #contents_wrap .intro .text_wrap > p > span.text_color {
            color: #093c71; }
        #contents_wrap .intro .text_wrap > p .kor_text {
          display: none;
          vertical-align: top;
          color: #e1e1e1;
          font-size: 38px;
          letter-spacing: 0; }
        #contents_wrap .intro .text_wrap > p.aa {
          padding-left: 25px; }
  #contents_wrap .contents_top {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    background: #e1e1e1;
    padding-bottom: 20px;
    z-index: 100; }
    #contents_wrap .contents_top .gnb {
      width: 95%;
      margin: 0 auto;
      text-align: center;
      position: relative; }
      #contents_wrap .contents_top .gnb .logo_text {
        display: inline-block;
        position: absolute;
        left: 0;
        font-family: 'CircularStd-Black';
        font-size: 20px;
        color: #093c71;
        line-height: 62px; }
        #contents_wrap .contents_top .gnb .logo_text > img {
          vertical-align: -10px; }
      #contents_wrap .contents_top .gnb .scroll_down {
        line-height: 62px;
        font-size: 20px;
        font-weight: 700;
        color: #093c71; }
      #contents_wrap .contents_top .gnb > div {
        position: absolute;
        right: 0;
        top: 18px; }
        #contents_wrap .contents_top .gnb > div > a {
          display: inline-block;
          float: left;
          font-size: 12px;
          color: #093c71;
          margin-right: 6px;
          padding: 1px 0 3px;
          font-weight: 500; }
        #contents_wrap .contents_top .gnb > div .lang_btn {
          float: left; }
          #contents_wrap .contents_top .gnb > div .lang_btn > li {
            float: left;
            font-size: 12px;
            color: #093c71;
            font-weight: 500; }
            #contents_wrap .contents_top .gnb > div .lang_btn > li a {
              display: inline-block;
              font-size: 12px;
              color: #093c71;
              padding: 0 0 2px;
              border-top: 1px solid #e1e1e1;
              border-bottom: 1px solid #e1e1e1;
              font-weight: 500; }
              #contents_wrap .contents_top .gnb > div .lang_btn > li a.on_lang {
                border-top: 1px solid #093c71;
                border-bottom: 1px solid #093c71; }
    #contents_wrap .contents_top .btn_wrap {
      width: 95%;
      margin: 0 auto;
      position: relative; }
      #contents_wrap .contents_top .btn_wrap .logo {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 124px;
        height: 136px;
        font-family: 'CircularStd-Black';
        font-size: 80px;
        color: #e1e1e1;
        line-height: 70px;
        letter-spacing: 0.1em;
        background: url("../../images/logo01.png") no-repeat center center; }
        #contents_wrap .contents_top .btn_wrap .logo > span {
          display: block;
          font-family: 'CircularStd-Black';
          font-size: 80px;
          color: #e1e1e1;
          line-height: 50px;
          text-align: center;
          padding-right: 15px; }
          #contents_wrap .contents_top .btn_wrap .logo > span.slash {
            display: none; }
      #contents_wrap .contents_top .btn_wrap ul {
        width: 100%;
        padding: 61px 0 0 0;
        vertical-align: bottom; }
        #contents_wrap .contents_top .btn_wrap ul li {
          float: left;
          margin-right: 26px; }
          #contents_wrap .contents_top .btn_wrap ul li a {
            display: inline-block;
            font-size: 47px;
            font-weight: 500;
            color: #093c71;
            height: 75px; }
            #contents_wrap .contents_top .btn_wrap ul li a.on_category {
              color: #e1e1e1;
              background: #093c71; }
          #contents_wrap .contents_top .btn_wrap ul li:first-child {
            margin-left: 124px; }
          #contents_wrap .contents_top .btn_wrap ul li:last-child {
            margin-right: 0; }
        #contents_wrap .contents_top .btn_wrap ul:after {
          content: ".";
          display: block;
          visibility: hidden;
          clear: both;
          height: 0;
          font-size: 0; }
    #contents_wrap .contents_top .search_wrap {
      width: 95%;
      margin: 0 auto; }
      #contents_wrap .contents_top .search_wrap > ul {
        width: 100%; }
        #contents_wrap .contents_top .search_wrap > ul li {
          width: 100%;
          border-bottom: 1px solid #093c71;
          font-family: 'CircularStd-Black';
          font-size: 40px;
          color: #093c71;
          letter-spacing: 0.1em;
          text-align: center;
          line-height: 60px;
          display: none; }
          #contents_wrap .contents_top .search_wrap > ul li input {
            width: 90%;
            height: 60px;
            font-size: 40px;
            color: #093c71;
            text-align: center;
            background: none;
            border: none; }
          #contents_wrap .contents_top .search_wrap > ul li .search_btn {
            float: right;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 20px 0;
            background: url("../../images/search_btn.png") no-repeat center center #093c71; }
          #contents_wrap .contents_top .search_wrap > ul li > a {
            display: inline-block;
            float: left;
            width: 20%;
            font-size: 13px;
            color: #093c71;
            text-align: left;
            letter-spacing: 0;
            line-height: 28px; }
          #contents_wrap .contents_top .search_wrap > ul li.search_box {
            display: block; }
          #contents_wrap .contents_top .search_wrap > ul li:after {
            content: ".";
            display: block;
            visibility: hidden;
            clear: both;
            height: 0;
            font-size: 0; }
    #contents_wrap .contents_top.fixed_top {
      position: fixed; }
  #contents_wrap .slim .btn_wrap {
    padding-bottom: 15px;
    border-bottom: 1px solid #093c71; }
    #contents_wrap .slim .btn_wrap .logo {
      width: 130px;
      height: 46px;
      font-size: 50px;
      line-height: 40px;
      background: #093c71; }
      #contents_wrap .slim .btn_wrap .logo > span {
        display: inline;
        font-size: 50px;
        line-height: 40px;
        padding-right: 0; }
        #contents_wrap .slim .btn_wrap .logo > span.slash {
          display: inline; }
    #contents_wrap .slim .btn_wrap ul {
      padding: 0;
      vertical-align: bottom; }
      #contents_wrap .slim .btn_wrap ul li {
        float: left;
        margin-right: 22px; }
        #contents_wrap .slim .btn_wrap ul li a {
          font-size: 30px;
          font-weight: 500;
          color: #093c71;
          height: 46px; }
        #contents_wrap .slim .btn_wrap ul li:first-child {
          margin-left: 130px; }
        #contents_wrap .slim .btn_wrap ul li:last-child {
          margin-right: 0; }
      #contents_wrap .slim .btn_wrap ul:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        font-size: 0; }
  #contents_wrap .slim .search_wrap {
    display: none; }
  #contents_wrap .main_list {
    width: 95%;
    margin: 20px auto 60px;
    position: relative; }
    #contents_wrap .main_list > ul {
      height: 460px;
      margin: 0 auto; }
      #contents_wrap .main_list > ul li {
        float: left; }
        #contents_wrap .main_list > ul li > a {
          display: block;
          width: 356px;
          height: 460px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          padding: 15px 20px; }
          #contents_wrap .main_list > ul li > a > p {
            font-size: 22px;
            color: #e1e1e1;
            text-align: left; }
            #contents_wrap .main_list > ul li > a > p > span {
              display: block;
              font-size: 16px;
              color: #e1e1e1; }
      #contents_wrap .main_list > ul:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        font-size: 0; }
  #contents_wrap .on_going {
    width: 95%;
    margin: 0 auto; }
    #contents_wrap .on_going > p {
      border-bottom: 1px solid #093c71;
      font-family: 'CircularStd-Black';
      font-size: 40px;
      color: #093c71;
      letter-spacing: 0.1em;
      text-align: center;
      line-height: 60px; }
    #contents_wrap .on_going > ul {
      width: 100%;
      overflow: hidden;
      margin-top: 19px; }
      #contents_wrap .on_going > ul li {
        float: left;
        width: 19%;
        margin-right: 1.2%;
        margin-bottom: 9px;
        border-bottom: 1px solid #093c71;
        padding-bottom: 5px; }
        #contents_wrap .on_going > ul li > a {
          display: block; }
          #contents_wrap .on_going > ul li > a .thum {
            width: 100%;
            height: 170px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            margin-bottom: 5px; }
          #contents_wrap .on_going > ul li > a p {
            font-size: 13px;
            color: #093c71; }
            #contents_wrap .on_going > ul li > a p.tit {
              font-weight: 600; }
            #contents_wrap .on_going > ul li > a p.des {
              overflow: hidden;
              text-overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              word-wrap: break-word; }
        #contents_wrap .on_going > ul li:nth-child(5n) {
          margin-right: 0;
          width: 19.2%; }
    #contents_wrap .on_going .paging_wrap {
      width: 100%;
      text-align: center;
      position: relative;
      padding: 16px 0; }
      #contents_wrap .on_going .paging_wrap > a {
        position: absolute;
        top: 0px;
        font-size: 40px;
        font-weight: 900;
        color: #093c71; }
        #contents_wrap .on_going .paging_wrap > a.left_btn {
          left: 20px; }
        #contents_wrap .on_going .paging_wrap > a.right_btn {
          right: 20px; }
      #contents_wrap .on_going .paging_wrap .paging {
        display: inline-block; }
        #contents_wrap .on_going .paging_wrap .paging > a {
          display: inline-block;
          font-size: 12px;
          color: #093c71; }
          #contents_wrap .on_going .paging_wrap .paging > a.on_paging {
            border-top: 1px solid #093c71;
            border-bottom: 1px solid #093c71; }
  #contents_wrap .new {
    margin: 0 auto 60px; }
  #contents_wrap .ggc_tour {
    width: 95%;
    margin: 0 auto 300px; }
    #contents_wrap .ggc_tour > ul {
      width: 100%;
      padding: 18px 0;
      border-bottom: 1px solid #093c71; }
      #contents_wrap .ggc_tour > ul li {
        float: left;
        width: 24%;
        margin-right: 1.3%; }
        #contents_wrap .ggc_tour > ul li a {
          display: block;
          width: 100%;
          font-size: 12px;
          letter-spacing: -0.03em;
          font-weight: 500;
          color: #093c71;
          text-align: center;
          border-top: 1px solid #093c71;
          border-bottom: 1px solid #093c71;
          line-height: 22px; }
          #contents_wrap .ggc_tour > ul li a span {
            float: right; }
            #contents_wrap .ggc_tour > ul li a span.car_icon {
              display: inline-block;
              width: 17px;
              height: 24px;
              margin-right: 2px;
              background: url("../../images/car_icon.png") no-repeat right center; }
          #contents_wrap .ggc_tour > ul li a.course_btn {
            background: #093c71;
            color: #e1e1e1; }
        #contents_wrap .ggc_tour > ul li:last-child {
          width: 24.1%;
          margin-right: 0; }
      #contents_wrap .ggc_tour > ul:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        font-size: 0; }
  #contents_wrap .editor_pick {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    z-index: 100; }
    #contents_wrap .editor_pick hr {
      width: 95%;
      margin: 0 auto;
      border: 0;
      border-bottom: 1px solid #093c71; }
    #contents_wrap .editor_pick > ul {
      width: 95%;
      height: 28px;
      margin: 0 auto;
      overflow: hidden; }
      #contents_wrap .editor_pick > ul li {
        float: left;
        font-family: 'CircularStd-Black';
        font-size: 20px;
        font-weight: 700;
        color: #093c71;
        line-height: 28px; }
        #contents_wrap .editor_pick > ul li a {
          display: inline-block;
          font-size: 13px;
          font-weight: 700;
          color: #093c71;
          margin: 0 10px;
          line-height: 28px; }
        #contents_wrap .editor_pick > ul li span {
          font-size: 13px;
          font-weight: 700;
          color: #093c71; }
      #contents_wrap .editor_pick > ul:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        font-size: 0; }
  #contents_wrap .content {
    width: 90%;
    height: 2000px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative; }
    #contents_wrap .content > p {
      color: #093c71;
      font-size: 20px; }
    #contents_wrap .content > a {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      margin: auto;
      width: 20px;
      font-size: 20px;
      color: #093c71;
      z-index: 1; }

/*footer*/
footer > div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px;
  text-align: center; }
  footer > div > a {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    color: #093c71; }
  footer > div p {
    font-size: 10px;
    font-weight: 700;
    color: #093c71; }

/*# sourceMappingURL=tablet_style.css.map */
